* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-style: normal;
}
body {
  background-color: rgb(33, 37, 41);
}
.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
