/*HEADER*/

.header {
  width: 1900px;
  height: auto;
  background-image: url(../images/daraxtli-yol.png);
  background-repeat: no-repeat;
  background-size: cover;
  &__top {
    background: rgba(0, 0, 0, 0.4);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__img {
    margin: 0 20px ;
  }
  &__logo {
    display: flex;

    align-items: center;
  }

  &__logo-group {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
  }
  &__tel {
    padding: 0 15px;
    align-items: center;
  }
  &__num {
    color: rgb(243, 243, 243);
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
    text-align: center;
    display: flex;
    gap: 10px;
  }

  &__right-ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  &__link {
    color: rgb(243, 243, 243);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    &:hover {
      color: rgb(241, 215, 135);
    }
  }
  &__select {
    background-color: transparent;
    color: rgb(243, 243, 243);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    border: none;
    outline: none;

    &:hover {
      background-color: transparent;
      color: rgb(241, 215, 135);
    }
  }
  .vector {
    display: none;
  }
  &__btn {
    height: 100px;
    width: 211px;
    background: rgb(106, 54, 156);
    border: none;

    color: rgb(243, 243, 243);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    &:hover {
      background-color: rgb(43, 2, 81);
      color: azure;
    }
  }
}

.hero {
  margin: 100px 0 0 0;

  &__title {
    color: rgb(243, 243, 243);
    font-size: 56px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: left;
  }
  &__subtitle {
    color: rgb(243, 243, 243);
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
    padding: 30px 0;
  }
  &__btn {
    width: 238px;
    height: 46px;
    background-color: transparent;
    border-color: rgb(243, 243, 243);
    color: rgb(243, 243, 243);
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
    &:hover {
      background-color: rgb(243, 243, 243);
      color: #000;
    }
  }
  &__top {
    display: flex;
    gap: 35px;
  }
  &__title2 {
    color: rgb(243, 243, 243);
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    padding: 100px 0 30px 0;
  }

  &__num {
    color: rgb(4, 255, 20);
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
  }
  &__subtitle2 {
    color: rgb(243, 243, 243);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    padding: 0 0 30px 0;
  }
  &__staff {
    display: flex;
    gap: 61px;
padding: 0 0 322px 0;
    &-num {
      color: rgb(243, 243, 243);
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0%;
      text-align: left;
    }
  }
}

/*HEADER*/

/*MAIN*/

.main {
  &__section1 {
    width: 1900px;
    height: auto;
    background-color: rgb(33, 37, 41);
    display: flex;
  }
  &__top1 {
    margin: 139px 84px 0 136px;
  }
  &__title1 {
    color: rgb(243, 243, 243);
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    padding: 0 0 20px 0;
  }
  &__subtitle1 {
    color: rgb(243, 243, 243);
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
  }

  &__read1 {
    display: flex;
    padding: 20px 0;
  }
  &__btn1 {
    color: rgb(4, 255, 20);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    background-color: transparent;
    outline: none;
    border: none;
  }
  &__top2 {
    margin: 139px 0 0 136px;
  }
  &__section3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(39, 43, 48);
    width: 1900px;
    height: auto;
    gap: 30px;
    
  }

  &__card {
    background: rgb(33, 37, 41);
    width: 450px;
    height: auto;
    margin: 70px 0;
    .main__title1 {
      padding:  30px 30px 0  30px;
    }
    .main__subtitle1 {
      padding: 30px  30px;
    }
  
    .main__img2{
      margin: 30px 30px 30px 30px;
    }
    .main__img3{
      margin: 40px 30px;
    }
  }
  &__section4 {
    background-image: url(../images/archali-yol.png);
    width: 1900px;
    height: auto ;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__top4 {
    padding: 112px 250px;
  }
  &__title4 {
    color: rgb(243, 243, 243);
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: left;
  }
  &__text4 {
    color: rgb(243, 243, 243);
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
  }
  &__subtitle4 {
    color: rgb(243, 243, 243);
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
  }
}

/*MAIN*/
/*VALUE*/
.value {
  width: 1900px;
  height: auto;
  display: flex;
  padding: 109px 0;
  gap: 100px;
  &__tema {
    justify-content: space-evenly;
    align-items: center;
    padding: 0 0 0 365px;
  }
  &__title {
    color: rgb(243, 243, 243);
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: left;
  }

  &__subtitle {
    color: rgb(243, 243, 243);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
  }

  ul {
    list-style: square;
    color: rgb(4, 255, 20);
    border: none;
    a {
      color: rgb(243, 243, 243);
      font-size: 16px;
      font-weight: 600;
      line-height: 180%;
      letter-spacing: 0%;
      text-align: left;
    }
  }
}

.carers {
  width: 1400px;
  height: auto;
  background: rgb(82, 31, 132);
  display: flex;
  margin: 0 250px;
  &__top {
    padding: 119px 120px 118px 120px;
  }

  &__title {
    color: rgb(243, 243, 243);

    font-size: 24px;
    font-weight: 700;
    line-height: 180%;
    letter-spacing: 0%;
    text-align: left;
  }

  &__subtitle {
    color: rgb(164, 102, 225);
    font-size: 18px;
    font-weight: 500;
    line-height: 180%;
    letter-spacing: 0%;
    text-align: left;
  }
  &__btn {
    border: 2px solid rgb(243, 243, 243);
    background-color: transparent;
    width: 288px;
    height: 46px;

    &:hover {
      background-color: rgb(243, 243, 243);
      color: #000;
    }
    color: rgb(243, 243, 243);
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
  }
}
/*VALUE*/
/*ICONS*/
.our {
  color: rgb(243, 243, 243);
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  padding: 120px 0;
}
.icons {
  width: 1900px;
}
.logo__icon {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.maps {
  padding: 150px 0 0 0;
}
/*ICONS*/
/*FOOTER*/
.footer {
  width: 1900px;
  height: auto;
  &__top {
    display: flex;
    justify-content: space-evenly;
  }
  &__title {
    color: rgb(243, 243, 243);
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
    padding: 70px 0 15px 0;
  }
  &__img {
    display: flex;
    gap: 10px;
  }
  &__local {
    display: flex;
    justify-content: space-around;
    padding: 75px 0 0 0;
    gap: 150px;
  }
  &__subtitle {
    color: rgb(175, 175, 175);
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
  }
  &__link {
    color: rgb(243, 243, 243);
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
  }
}
.end {
  height: auto;
  background: rgb(39, 43, 48);
  margin: 73px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 145px 40px 160px;
  &__ul {
    color: rgb(175, 175, 175);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    display: flex;
    gap: 30px;
  }
}
