@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Black.ttf") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLight.woff") format("woff"), url("../fonts/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Thin.woff2") format("woff2"), url("../fonts/Montserrat-Thin.woff") format("woff"), url("../fonts/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-style: normal;
}

body {
  background-color: rgb(33, 37, 41);
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*HEADER*/
.header {
  width: 1900px;
  height: auto;
  background-image: url(../images/daraxtli-yol.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.header__top {
  background: rgba(0, 0, 0, 0.4);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__img {
  margin: 0 20px;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo-group {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}
.header__tel {
  padding: 0 15px;
  align-items: center;
}
.header__num {
  color: rgb(243, 243, 243);
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
  text-align: center;
  display: flex;
  gap: 10px;
}
.header__right-ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header__link {
  color: rgb(243, 243, 243);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.header__link:hover {
  color: rgb(241, 215, 135);
}
.header__select {
  background-color: transparent;
  color: rgb(243, 243, 243);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  border: none;
  outline: none;
}
.header__select:hover {
  background-color: transparent;
  color: rgb(241, 215, 135);
}
.header .vector {
  display: none;
}
.header__btn {
  height: 100px;
  width: 211px;
  background: rgb(106, 54, 156);
  border: none;
  color: rgb(243, 243, 243);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
}
.header__btn:hover {
  background-color: rgb(43, 2, 81);
  color: azure;
}

.hero {
  margin: 100px 0 0 0;
}
.hero__title {
  color: rgb(243, 243, 243);
  font-size: 56px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: left;
}
.hero__subtitle {
  color: rgb(243, 243, 243);
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
  padding: 30px 0;
}
.hero__btn {
  width: 238px;
  height: 46px;
  background-color: transparent;
  border-color: rgb(243, 243, 243);
  color: rgb(243, 243, 243);
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0%;
}
.hero__btn:hover {
  background-color: rgb(243, 243, 243);
  color: #000;
}
.hero__top {
  display: flex;
  gap: 35px;
}
.hero__title2 {
  color: rgb(243, 243, 243);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  padding: 100px 0 30px 0;
}
.hero__num {
  color: rgb(4, 255, 20);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}
.hero__subtitle2 {
  color: rgb(243, 243, 243);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  padding: 0 0 30px 0;
}
.hero__staff {
  display: flex;
  gap: 61px;
  padding: 0 0 322px 0;
}
.hero__staff-num {
  color: rgb(243, 243, 243);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

/*HEADER*/
/*MAIN*/
.main__section1 {
  width: 1900px;
  height: auto;
  background-color: rgb(33, 37, 41);
  display: flex;
}
.main__top1 {
  margin: 139px 84px 0 136px;
}
.main__title1 {
  color: rgb(243, 243, 243);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  padding: 0 0 20px 0;
}
.main__subtitle1 {
  color: rgb(243, 243, 243);
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
}
.main__read1 {
  display: flex;
  padding: 20px 0;
}
.main__btn1 {
  color: rgb(4, 255, 20);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  background-color: transparent;
  outline: none;
  border: none;
}
.main__top2 {
  margin: 139px 0 0 136px;
}
.main__section3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(39, 43, 48);
  width: 1900px;
  height: auto;
  gap: 30px;
}
.main__card {
  background: rgb(33, 37, 41);
  width: 450px;
  height: auto;
  margin: 70px 0;
}
.main__card .main__title1 {
  padding: 30px 30px 0 30px;
}
.main__card .main__subtitle1 {
  padding: 30px 30px;
}
.main__card .main__img2 {
  margin: 30px 30px 30px 30px;
}
.main__card .main__img3 {
  margin: 40px 30px;
}
.main__section4 {
  background-image: url(../images/archali-yol.png);
  width: 1900px;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}
.main__top4 {
  padding: 112px 250px;
}
.main__title4 {
  color: rgb(243, 243, 243);
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0%;
  text-align: left;
}
.main__text4 {
  color: rgb(243, 243, 243);
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
}
.main__subtitle4 {
  color: rgb(243, 243, 243);
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
}

/*MAIN*/
/*VALUE*/
.value {
  width: 1900px;
  height: auto;
  display: flex;
  padding: 109px 0;
  gap: 100px;
}
.value__tema {
  justify-content: space-evenly;
  align-items: center;
  padding: 0 0 0 365px;
}
.value__title {
  color: rgb(243, 243, 243);
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0%;
  text-align: left;
}
.value__subtitle {
  color: rgb(243, 243, 243);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}
.value ul {
  list-style: square;
  color: rgb(4, 255, 20);
  border: none;
}
.value ul a {
  color: rgb(243, 243, 243);
  font-size: 16px;
  font-weight: 600;
  line-height: 180%;
  letter-spacing: 0%;
  text-align: left;
}

.carers {
  width: 1400px;
  height: auto;
  background: rgb(82, 31, 132);
  display: flex;
  margin: 0 250px;
}
.carers__top {
  padding: 119px 120px 118px 120px;
}
.carers__title {
  color: rgb(243, 243, 243);
  font-size: 24px;
  font-weight: 700;
  line-height: 180%;
  letter-spacing: 0%;
  text-align: left;
}
.carers__subtitle {
  color: rgb(164, 102, 225);
  font-size: 18px;
  font-weight: 500;
  line-height: 180%;
  letter-spacing: 0%;
  text-align: left;
}
.carers__btn {
  border: 2px solid rgb(243, 243, 243);
  background-color: transparent;
  width: 288px;
  height: 46px;
  color: rgb(243, 243, 243);
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
}
.carers__btn:hover {
  background-color: rgb(243, 243, 243);
  color: #000;
}

/*VALUE*/
/*ICONS*/
.our {
  color: rgb(243, 243, 243);
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  padding: 120px 0;
}

.icons {
  width: 1900px;
}

.logo__icon {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.maps {
  padding: 150px 0 0 0;
}

/*ICONS*/
/*FOOTER*/
.footer {
  width: 1900px;
  height: auto;
}
.footer__top {
  display: flex;
  justify-content: space-evenly;
}
.footer__title {
  color: rgb(243, 243, 243);
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
  padding: 70px 0 15px 0;
}
.footer__img {
  display: flex;
  gap: 10px;
}
.footer__local {
  display: flex;
  justify-content: space-around;
  padding: 75px 0 0 0;
  gap: 150px;
}
.footer__subtitle {
  color: rgb(175, 175, 175);
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
}
.footer__link {
  color: rgb(243, 243, 243);
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
}

.end {
  height: auto;
  background: rgb(39, 43, 48);
  margin: 73px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 145px 40px 160px;
}
.end__ul {
  color: rgb(175, 175, 175);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  display: flex;
  gap: 30px;
}

@media (max-width: 1152px) and (mix-width: 768px) {
  .header {
    font-size: 16px;
  }
  .header__right {
    display: none;
  }
  .vector {
    display: block;
  }
}
@media (max-width: 768px) {
  .header {
    width: auto;
    height: auto;
  }
  .header__logo {
    display: none;
  }
  .header__right {
    display: none;
  }
  .vector {
    display: block;
    padding-right: 20px;
  }
  .hero {
    height: auto;
  }
  .main__section1 {
    width: auto;
    height: auto;
    flex-direction: column;
  }
  .main__section3 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 30px;
  }
  .main__card {
    margin: 30px 30px;
    width: auto;
  }
  .main__section4 {
    height: auto;
  }
  .value {
    width: auto;
  }
  .end {
    flex-direction: none;
  }
}
@media (max-width: 375px) {
  .header {
    width: auto;
    height: auto;
  }
  .header__logo {
    display: none;
  }
  .header__right {
    display: none;
  }
  .header .vector {
    display: block;
  }
  .header__btn {
    display: none;
  }
  .hero {
    width: auto;
  }
  .main__section1 {
    width: auto;
    height: auto;
    flex-direction: column;
  }
  .main__section3 {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 30px;
  }
}/*# sourceMappingURL=style.css.map */